<p id="notice"><%= notice %></p>

<h1>Beacons</h1>

<table>
  <thead>
    <tr>
      <th>Central room name |</th>
      <th>Orientation | </th>
      <th>Distance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.central.room_name %></td>
        <td><%= beacon.orientation %></td>
        <td><%= beacon.distance %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_central_beacon_path(id: beacon.id, cental_id: params[:central_id]) %></td>
          <td><%= link_to 'Destroy', central_beacon_path(id: beacon.id, cental_id: params[:central_id]), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beacon', new_central_beacon_path %>
