<p id="notice"><%= notice %></p>

<h1>Centrals</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Room</th>
      <th scope="col">Room Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @centrals.each do |central| %>
      <tr>
        <td><%= central.id %></td>
        <td><%= central.room_id %></td>
        <td><%= central.room_name %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Show', central_path(central) %>|
        <td><%= link_to 'Edit', edit_central_path(central) %></td>
        <% else %>
        <td><%= link_to 'Show', central_path(central) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
<%= link_to 'New Central', new_central_path, class: "btn btn-light" %>
<% else %>
<%= button_to "Login", user_session_path, class: "btn btn-primary"%>
<small class="form-text text-muted">sign in to add register new devices</small>
<% end %>