
<p id="notice"><%= notice %></p>
<h1 class="text-center">Beacons in room</h1>
<div class="jumbotron">
  <h1 class="display-4"> <%= @central.room_name %>
</h1>
<strong>Room number:</strong>
  <%= @central.room_id %>
  <div id="draw-map"></div>
</div>
<%if user_signed_in? %>
	<%= link_to 'Edit', edit_central_path(@central) %> 
<% end %>
<script>
	var map = document.getElementById('draw-map');
	var width = $("#draw-map").parent().width();
	var height = $(window).height()/2;

	var base_height = width-40;
	var base_width = width/3;
	var base_mid_x = width/2;
	var base_mid_y = width/4;

	var door_mid_x = base_mid_x-base_height/2 + base_width/2.9;
	var door_mid_y = base_mid_y - base_width/2;
	var door_height = base_height * 0.15;
	var door_width = 10;

	var door2_mid_x = base_mid_x-base_height/2 + base_width * 2;
	var door2_mid_y = base_mid_y - base_width/2;
	var door2_height = base_height * 0.15;
	var door2_width = 10;

	var beacon_rad = 10;
	var beacon_mid_x = base_mid_x - base_height/2 + beacon_rad;
	var beacon_mid_y = base_mid_y + base_width/2 - beacon_rad;

	var sensor_list = [];
	<% if @sensor_count %>
		<% @sensor.each do |sensor| %>
			sensor_list.push([<%=sensor.orientation%>, <%=sensor.distance%>]);
		<% end %>
	<% end %>
	console.log(sensor_list);
	
	function x_distance(beacon_mid_x, base_width, distance, angle) {
		var base = Math.abs(distance * (Math.cos(angle * Math.PI/180)));
		console.log(base);
		var base_percent = base / 15;
		var x = (base_percent / 100) * base_width;
		return beacon_mid_x + x*2.8 - 10;
	}

	console.log(x_distance(beacon_mid_x, base_height, 6.23, 35));

	function y_distance(beacon_mid_y, base_height, distance, angle) {
		var perpendicular = Math.abs(distance * (Math.sin(angle * Math.PI/180)));
		var base_percent = perpendicular / 10;
		var y = (base_percent / 100) * base_height;
		return beacon_mid_y - y + 10;
	}
	// console.log(y_distance(beacon_mid_x, base_height, 6.23, 35));
	//orientation, distance in 2d array
	var circles = [];

	var params = { width: width, height: height*1.25 };
	var two = new Two(params).appendTo(map);
	sensor_list.forEach(function(params) {
		circles.push(two.makeCircle(x_distance(beacon_mid_x, base_width, params[1], params[0]), y_distance(beacon_mid_y, base_width, params[1], params[0]), 10));
		// console.log(params);
	});
	// console.log(circles);
	var topGroup = two.makeGroup(),
		topGroup2 = two.makeGroup(),
		bottomGroup = two.makeGroup(),
		base = two.makeRectangle(base_mid_x, base_mid_y, base_height, base_width),
		door1 = two.makeRectangle(door_mid_x, door_mid_y, door_height, door_width),
		door2 = two.makeRectangle(door2_mid_x, door2_mid_y, door2_height, door2_width),
		circ = two.makeCircle(beacon_mid_x, beacon_mid_y, beacon_rad);
	circ.fill = "blue";
	base.fill = "rgba(0, 0, 0, 0.5)";
	door1.fill = "green";
	door2.fill = "green";

	two.update();
</script>