<!DOCTYPE html>
<html>
  <head>
    <title>Ketchup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <ul class="nav nav-pills justify-content-center" style="margin-bottom: 30px">
      <li class="nav-item" style="margin-right: 6px"><%= link_to "Home", root_path, class: "nav-link bg-light"%></li>
      <li class="nav-item" style="margin-right: 6px"><%= link_to "All locations", show_all_path, class: "nav-link bg-light"%></li>
      <li class="nav-item" style="margin-right: 6px"><%= link_to "All Sensors", sensors_path, class: "nav-link bg-light"%></li>

      <% if user_signed_in? %>
      <li class="nav-item"><%= link_to "Logout", destroy_user_session_path, method: :delete, class: "nav-link bg-light"%></li>
      <% end %>
    </ul>
      <%= yield %>
    </div>
  </body>
</html>
