<% @centrals.each do |central| %>
<h2> <%= central.room_name %> </h2>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">orientation</th>
      <th scope="col">distance</th>
      <th scope="col">last_location</th>
    </tr>
  </thead>
  <tbody>
  	<% central.beacons.each do |beacon| %>
    <tr>
      <th scope="row"><%= beacon.id %></th>
      <td><%= beacon.orientation %></td>
      <td><%= beacon.distance %></td>
      <td><%= beacon.updated_at %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>