
<% @centrals.each do |central| %>
<h2> <%= central.room_name %> <%= central.id %>  </h2>
<table class="table table-dark">
  <thead>
    <tr>
   	  <th scope="col">ID</th>
      <th scope="col">Sensor</th>
      <th scope="col">Orientation</th>
      <th scope="col">Distance(cm)</th>
      <th scope="col">Last update</th>
    </tr>
  </thead>
  <tbody>
  	<% central.beacons.last(10).reverse.each_with_index do |beacon, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= beacon.sensor_id %></th>
      <td><%= beacon.orientation %></td>
      <td><%= beacon.distance %></td>
      <td><%= beacon.updated_at.strftime("%H:%M:%S") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>